<%= form_tag({controller: "portfolio_analysis", action: "future_value"}, {:role => "form", method: "get", class: "form-inline"}) do %>
    <div class='row'>
      <div class='col-md-12'>
        <div class="form-group">
          <%= label_tag :rate, "Annual Growth Rate", :class => "control-label" %>
          <%= text_field_tag :rate, params[:rate], :class => "form-control input-sm" %>
          <%= label_tag :payment, "Annual Payment", :class => "control-label" %>
          <%= text_field_tag :payment, params[:payment], :class => "form-control input-sm" %>
          <%= label_tag :periods, "Years", :class => "control-label" %>
          <%= text_field_tag :periods, params[:periods], :class => "form-control input-sm" %>
          <%= select_tag(:view, options_for_select([["Table View", :table] , ["Chart View", :chart]], params[:view]), {:class => "form-control"}) %>
          <%= submit_tag "View Future Value", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>
