<% provide(:title, "Analysis") %>
<style>
    .table {
        width: 30%
    }

    .table tr td:nth-child(1) {
        width: 15%;
    }

    .table tr td:nth-child(2) {
        width: 30%;
    }
</style>

<div class="container">
  <%= form_tag({controller: "portfolio_analysis", action: "future_value"}, {:role => "form", method: "get", class: "form-inline"}) do %>
      <div class='row'>
        <div class='col-md-10'>
          <div class="form-group">
            <%= label_tag :rate, "Annual Growth Rate", :class => "control-label" %>
            <%= text_field_tag :rate, params[:rate], :class => "form-control input-sm" %>
            <%= label_tag :payment, "Annual Payment", :class => "control-label" %>
            <%= text_field_tag :payment, params[:payment], :class => "form-control input-sm" %>
            <%= label_tag :periods, "Years", :class => "control-label" %>
            <%= text_field_tag :periods, params[:periods], :class => "form-control input-sm" %>
            <%= submit_tag "View Future Value", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Year</th>
      <th>Date</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>

    <% @portfolio_analysis.annual_future_value.each do |fv| %>
        <tr>
          <td><%= "#{fv[:year]}" %></td>
          <td><%= "#{fv[:date].strftime("%Y-%m-%d")}" %></td>
          <td><%= "$#{number_with_precision(fv[:value], :precision => 2, :delimiter => ',')}" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
