<%= form_for(@account_type) do |f| %>
    <div class="form-inline" style="text-align: center">

        <%= f.label :description %>
        <%= f.text_field :description %>
        <div class="checkbox" style="margin: 5px">
            <label>
                <%= f.check_box :retirement %> <b>Retirement?</b>
            </label>
        </div>
    </div>
    <p style="text-align: center">
        <%= f.submit "Create Account Type", class: "btn btn-primary", style: "margin-top: 5px" %>
    </p>
<% end %>