<% provide(:title, 'Edit Account Type') %>
<h1>Edit Account Type</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@account_type) do |f| %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <div class="checkbox">
                <label>
                    <%= f.check_box :retirement %> Retirement?
                </label>
            </div>

            <%= f.submit "Update Account Type", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>