<%= form_for(@account_owner) do |f| %>
    <div class="form-inline" style="text-align: center">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <div class="checkbox"  style="margin: 5px">
            <%= f.check_box :joint %><b> Joint</b>
        </div>
    </div>
    <p style="text-align: center">
            <%= f.submit "Save Account Owner", class: "btn btn-primary", style: "margin-top: 5px" %>
    </p>
<% end %>
