<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "EZ Finance", '#', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Add Account", new_account_path %></li>
              <li><%= link_to "List Accounts", accounts_path %></li>
              <li><%= link_to "Account History", account_history_index_path %></li>
              <li><%= link_to "Administration", admin_index_path %></li>
              <li><%= link_to "Analysis", analysis_future_path %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>