<% provide(:title, "Accounts") %>

<table>
    <tr>
        <th>Account Name</th>
        <th>Value</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <% @accounts.each do |account| %>
        <tr>
            <td><%= link_to account.name, account %></td>
            <td>$<%= account.value %></td>
            <!--<td><%= link_to "Show", account %></td>-->
            <td><%= link_to "Edit", edit_account_path(account) %></td>
            <td><%= link_to "Remove", account, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>