<% provide(:title, "Accounts") %>
<%= form_tag controller: "accounts", action: "bulk_update" do %>

    <div class="table-responsive">
        <table class="table table-condensed" width="500">
            <thead>
            <tr>
                <th class="col-sm-1">Account Name</th>
                <th class="col-sm-1">Value</th>
                <th class="col-sm-1">Account Type</th>
                <th class="col-sm-1">Account Owner</th>
                <th class="col-sm-1">Last Updated</th>
                <th class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <% @accounts.each do |account| %>
                <tr>
                    <td><%= link_to account.name, account %></td>
                    <td><%= label :value, "$" %>
                        <div style="display: inline-block;">
                            <%= text_field :value, account.id, :value => account.displayed_value %></div>
                    </td>
                    <td>
                        <%= account.account_type.description %>
                    </td>
                    <td>
                        <%= account.account_owner.description if account.account_owner %>
                    </td>
                    <td><%= account.updated%></td>
                    <td><%= link_to "Edit", edit_account_path(account) %> <%= link_to "Remove", account, method: :delete, data: {confirm: "Are you sure?"} %></td>
                </tr>
            <% end %>
            <tr>
                <td></td>
                <td><p class="total">Total: $<%= number_with_precision(@total, :precision => 0, :delimiter => ',') %></p></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <%= submit_tag "Update Values", class: "btn btn-primary" %>
<% end %>