<% provide(:title, 'Create Account') %>
<h1>Create Account</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@account) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :account_type %>
            <%= f.select :account_type_id, options_from_collection_for_select(@account_types, "id", "description") %>

            <%= f.label :value, "Current Value" %>
            <%= f.text_field :value %>

            <%= f.submit "Create account", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>